/*
    [ TYPHOGRAPY ]
*/
body {
	font-family: 'Open Sans', sans-serif;
	color: #85939b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	color: #232a2f;
}

h3,
h4,
h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin-bottom: 30px;
}

p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	margin-bottom: 30px;
}

iframe {
	border: 0;
	outline: 0;
}

.header-content {
	margin-bottom: 40px;
	color: #FFF;
	text-align: center;
}

.header-content h2 {
	font-weight: 300;
	font-size: 40px;
}

.header-content h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	text-transform: capitalize;
	font-size: 24px;
}

ul.list li:before {
	position: absolute;
	left: 3px;
	font-family: 'FontAwesome';
	content: '\f105';
}

ul.list {
	padding-left: 28px;
	padding-bottom: 10px;
	list-style: none;
	position: relative;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

/*
    [ GENERAL ELEMENTS ]
*/
a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	color: #DDAD02;
}

a:hover {
	color: #232a2f;
	text-decoration: none;
}

#main-wrapper {
	width: 100%;
	position: relative;
}

blockquote {
	margin-left: 20px;
}

blockquote p {
	margin-bottom: 10px !important;
}

code {
	display: block;
	padding: 4px 8px;
	font-size: 90%;
	color: #c7254e;
	white-space: inherit;
	background-color: #f9f2f4;
	border-radius: 2px;
}

footer {
	background: #fff;
	padding: 40px;
}

footer p {
	font-size: 14px;
	text-align: center;
}

footer .social {
	text-align: center;
	margin-bottom: 20px;
}

footer .social a {
	width: 31px;
	height: 31px;
	position: relative;
	text-align: center;
	color: #202020;
	display: inline-block;
	margin-right: 5px;
	line-height: 28px;
	font-size: 16px;
	border: 1px solid #202020;
}

footer .social a:hover {
	background: #202020;
	color: #FFF;
}

footer .social a i {
	line-height: 28px;
}

#menu {
	position: fixed;
	width: 220px;
	background: #fff;
	height: 100%;
	left: 0;
	font-family: 'Raleway', sans-serif;
}

#menu .navbar-toggle {
	margin-top: 11px;
}

#menu .navbar-brand {
	padding-top: 10px;
	padding-bottom: 20%;
	padding-left: 30px;
}

#menu .navbar {
	border-radius: 0;
	background: transparent;
	border: none;
	padding-top: 20%;
}

#menu .navbar-collapse {
	padding-left: 20px;
}

#menu .navbar-header,
#menu .navbar-nav,
#menu .navbar-nav li {
	float: none;
	margin-left: -10px;
}

#menu .navbar-default .navbar-nav>li>a {
	color: #232a2f;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	padding-left: 30px;
}

#menu .navbar-default .navbar-nav>li>a:hover {
	background: rgba(38, 41, 46, .2);
}

#menu .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: transparent;
	color: #9B59B6;
}

#menu .navbar-nav {
	margin: 7.5px -15px;
}

#menu .navbar-nav .opens .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	border: 0;
	box-shadow: none;
	background-color: transparent;
}

#menu .navbar-default .navbar-nav .opens .dropdown-menu>li>a {
	color: #777;
}

#menu .navbar-nav .opens .dropdown-menu>li>a {
	line-height: 20px;
}

#container {
	position: relative;
	margin-left: 220px;
}

#container section {
	padding: 60px;
}

#container section {
	background: #f7f8f9;
}

#container section.gray {
	background: #eceff1;
}

.mg-bt-80 {
	margin-bottom: 80px;
}

.mg-bt-60 {
	margin-bottom: 60px;
}

.mg-bt-40 {
	margin-bottom: 40px;
}

.to-top-btn {
	background: #9B9F9F;
	border-radius: 0;
	color: #fff;
	display: block;
	font-size: 18px;
	line-height: 38px;
	margin: 0 auto;
	position: fixed;
	right: 15px;
	bottom: 15px;
	text-align: center;
	width: 40px;
	height: 40px;
}

.to-top-btn:hover {
	color: #9B59B6;
}

.btn {
	border-radius: 0;
	padding: 8px 13px;
	margin-right: 5px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/*
    [ Preloader ]
*/
#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status {
	background-image: url(../images/Preloader_7.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

/* 
    [PAGES STYLE]
*/

/* ====== HOME ====== */
#container section.home {
	padding: 0px;
}

.home .bg-parallax {
	background: url(../images/cover.jpg);
	background-color: #222;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	position: relative;
}

.home-overlay {
	background-color: rgba(44, 62, 80, 0.3);
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	padding: 0 15px;
	color: #fff;
}

.intro h2,
.intro h3 {
	color: #fff;
	margin: 15px;
}

.home .slide-filter {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
}

.home .slide-text {
	position: absolute;
	display: block;
	bottom: 40%;
	right: 0;
	left: -220px;
	width: 100%;
	padding: 0 10px;
	z-index: 22;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.home .slide-text h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 56px;
	line-height: 69px;
	letter-spacing: 2px;
	color: #fff;
	position: relative;
}

.home .slide-text span {
	font-weight: 300;
	font-size: 25px;
	line-height: 40px;
	letter-spacing: 0px;
	color: #fff;
	position: relative;
}

.home .slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 0%;
	height: 45px;
}

.home .slides-navigation a {
	position: absolute;
	font-size: 40px;
	font-weight: 300;
	top: 0;
	right: 0;
	line-height: 35px;
	z-index: 1;
	bottom: 21px;
	color: #232a2f;
}

.home .slides-navigation a:hover {
	color: #DDAD02;
}

.home .slides-navigation a.prev,
.home .slides-navigation a.next {
	background: #f7f8f9;
	width: 45px;
	height: 45px;
	text-align: center;
}

.home .slides-navigation a.prev {
	right: 47px;
}

/* ====== Services ====== */

.service {
	width: 100%;
	height: 320px;
	margin: 40px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 50px;
	display: inline-block;
	margin-bottom: 0px;
	padding: 10px;
	background: #F7F8F9;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 50px;
	color: #9B59B6;
}

.service .heading {
	position: relative;
	top: 80px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service:hover {
	border-color: #9B59B6;
}

.service:hover .icon-holder {
	top: -50px;
}

.service:hover .heading {
	top: -30px;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/* ====== Portfolio ====== */
.portfolio {
	padding-top: 60px;
	padding-bottom: 80px;
	background: #F4F4F4;
}

.portfolioContainer {
	padding: 20px;
}

.portfolio .portfolio-item {
	opacity: 0;
	display: none;
	margin: 0;
	padding: 0;
}

.portfolio .portfolio-item img {
	width: 100%;
	height: auto;
}

.portfolioFilter {
	font-weight: 400px;
	margin-bottom: 10px;
	list-style: none;
}

.portfolioFilter li {
	margin-right: 10px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 300px;
	text-align: center;
	display: inline;
	cursor: pointer;
	border: 1px solid;
	padding: 5px 6px;
	line-height: 40px;
}

.portfolioFilter li.active {
	background: #9b59b6 none repeat scroll 0 0;
	border: 1px solid #9b59b6;
	color: #fff;
}

.portfolio-item {
	position: relative;
	color: #ffffff;
	line-height: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.project-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.0);
	background: rgba(0, 0, 0, 0.0);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.4em;
	line-height: 20px;
	text-transform: uppercase;
	visibility: visible;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.portfolio-item a:hover>.project-hover {
	color: rgba(255, 255, 255, 1);
	cursor: crosshair;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.project-hover span {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.portfolio-item a:hover>.project-hover span {
	padding: 15px 0;
	font-family: 'Raleway', sans-serif;
}

.project-hover b {
	color: rgba(255, 255, 255, 0.0);
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
	padding-top: 0;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.project-hover span.plus {
	font-size: 120px;
	font-weight: 100;
}

.portfolio-item a:hover>.project-hover b {
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* ====== Testimonial ====== */
.testimonial {
	text-align: center;
}

.testimonial ul li {
	list-style: none;
	padding: 0;
}

.testimonial .icon-testimonial {
	font-size: 35px;
	padding-bottom: 15px;
	color: #DDAD02;
}

.testimonial span {
	padding-top: 20px;
	display: block;
	position: relative;
}

.client-photos a {
	outline: 0;
}

.client-photo {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	box-sizing: border-box;
	display: inline-block;
	height: 100px;
	margin-right: 20px;
	padding: 10px;
	transition: all 0.3s linear 0s;
	width: 100px;
}

.client-photo.active {
	border: 1px solid #9B59B6;
}

.client-photos img {
	opacity: 0.4;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.client-photos .active img {
	opacity: 1;
}

/* ====== Teams ====== */
.about .teams {
	color: #202020;
	background: #FFF;
	margin-bottom: 40px;
	position: relative;
	z-index: 1;
	text-align: center;
}

.about .teams .pict {
	position: relative;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.about .teams .pict img {
	position: relative;
	z-index: -1;
	max-width: 100%;
	width: 100%;
}

.about .teams h3 {
	margin-bottom: 20px;
	color: #202020;
	font-weight: 400;
}

.about .teams .desc {
	padding: 25px;
}

.about .teams span {
	font-size: 13px;
	font-weight: 700;
	display: block;
	position: relative;
	padding-bottom: 30px;
}

.about .social a {
	width: 31px;
	height: 31px;
	position: relative;
	text-align: center;
	color: #202020;
	display: inline-block;
	margin-right: 5px;
	line-height: 28px;
	font-size: 16px;
	border: 1px solid #202020;
}

.about .social a:hover {
	background: #202020;
	color: #FFF;
}

.about canvas {
	width: 100%;
}

/* ====== Clients ====== */
.clients .client-slider {
	list-style: none;
	padding-left: 0;
	position: relative;
	display: block;
	margin: 0 auto;
}

.clients .client-slider li {
	margin: 5px 5px;
	display: inline-block;
	text-align: center;
}

/* ====== Blog ====== */
.blog-front article {
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
}

.blog-front article .blog-thumb {
	position: relative;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.blog-front article .blog-thumb img {
	z-index: -1;
	width: 100%;
	max-width: 100%;
	position: relative;
}

.blog-front article .post-area * {
	text-align: center;
}

.blog-front article .post-area h2 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.blog-front article .post-area .post-cat h4 {
	margin-top: 40px;
	margin-bottom: 0;
	font-weight: 400;
}

/* ====== Subscription ====== */
.subscribe .form-control {
	display: inline-block;
	width: 300px;
	max-width: 100%;
	vertical-align: top;
	margin-bottom: 10px;
}

/* ====== CTA ======*/
#container section.cta {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.cta h3 {
	color: #fff;
}

.cta .btn {
	color: #000;
	height: auto;
	background: #fff;
}

/* ====== Contact ======*/

.contact {
	position: relative;
}

.contact form {
	margin-bottom: 40px;
}

.contact form .form-group {
	margin-bottom: 2px;
}

.contact form input,
.contact form textarea {
	border-radius: 0;
	background: rgba(0, 0, 0, .07);
	color: #85939b;
	border: none;
	border-left: 1px solid #DDAD02;
	box-shadow: none;
}

.contact form input {
	height: 50px;
}

.contact form input:focus,
.contact form textarea:focus {
	box-shadow: none;
	border: 1px solid #DDAD02;
}

.address {
	text-align: left;
}

.office {
	list-style: none;
	padding: 0;
	line-height: 25px;
}

/* ====== Blog Page ====== */
#container section.blog {
	padding-top: 100px;
	padding-bottom: 100px;
}

#primary {
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #e5e8eb;
	margin-bottom: 40px;
}

#primary .pagination {
	margin: 60px 0 10px;
	display: inline-block;
}

#primary .pagination li {
	display: inline-block;
}

#primary .pagination li a {
	width: 35px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #85939b;
	height: 35px;
	margin-right: 10px;
	margin-bottom: 8px;
	border-radius: 0;
	background: #eceff1;
	border: none;
	text-align: center;
	line-height: 35px;
	display: block;
	padding: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#primary .pagination li:hover a {
	background: #DDAD02;
	color: #FFF;
}

#primary .pagination li.active a:hover {
	pointer-event: none;
	transform: none;
	-ms-transform: none;
	/* IE 9 */
	-webkit-transform: none;
	/* Safari and Chrome */
	-o-transform: none;
	/* Opera */
	-moz-transform: none;
}

#primary .pagination li.active a {
	color: #FFF;
	background: #DDAD02;
}

.sidebar {
	padding-left: 0;
}

.post {
	position: relative;
	margin-top: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid #e5e8eb;
}

.post:first-child {
	margin-top: 0;
}

.post:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.post .post-thumb {
	position: relative;
}

.post .post-thumb img {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.post .post-title {
	margin-bottom: 10px;
}

.post .post-title h1 {
	line-height: 50px;
	font-weight: 300;
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
}

.post .post-title h1 a {
	color: #232a2f;
}

.post .post-meta {
	margin-bottom: 40px;
}

.post .post-meta span {
	/*color: #FFF;*/
	font-weight: 300;
	text-transform: uppercase;
	font-size: 13px;
}

.post .post-meta span a {
	/*color: #FFF;*/
	color: inherit;
}

.post .post-meta span a:hover {
	color: #DDAD02;
}

.post .post-meta span:after {
	content: '/';
	margin: 0 5px 0 9px;
}

.post .post-meta span:last-child:after {
	content: '';
	margin: 0;
}

.post .post-content p {
	margin-bottom: 30px;
}

.post .post-content .btn {
	height: auto;
}

/* BLOG AUTHOR */
.blog-author {
	margin: 40px 0;
	padding: 0 20px 40px 20px;
	border: 1px solid #e5e8eb;
	position: relative;
	background: #eceff1;
}

.blog-author .blog-author-content {
	position: relative;
	display: block;
}

.blog-author figure {
	position: relative;
}

.blog-author .blog-author-info {
	margin-left: 120px;
	position: absolute;
	top: 0;
}

.blog-author .blog-author-info p {
	position: relative;
}

/* BLOG COMMENTS */
.blog-comments>h3 {
	margin-bottom: 40px;
}

.blog-comments>h3 span {
	font-size: 13px;
	display: block;
	margin-top: 10px;
}

.blog-comments form {
	margin-bottom: 40px;
}

.blog-comments form .form-group {
	margin-bottom: 2px;
}

.blog-comments form input,
.blog-comments form textarea {
	border-radius: 0;
	background: #eceff1;
	color: #85939b;
	border: none;
	border-left: 1px solid #DDAD02;
	box-shadow: none;
}

.blog-comments form input {
	height: 50px;
}

.blog-comments form input:focus,
.blog-comments form textarea:focus {
	box-shadow: none;
	border: 1px solid #DDAD02;
}

.blog-comments .blog-comment-content figure img {
	border-radius: 1px;
}

.blog-comments .blog-comment-content .comment-meta {
	display: block;
}

.blog-comments .blog-comment-content .comment-meta .media-heading {
	display: inline-block;
}

.blog-comments .blog-comment-content .comment-meta .in-reply,
.blog-comments .blog-comment-content .comment-meta span.time {
	font-size: 12px;
	padding-left: 15px;
}

.blog-comments .blog-comment-content .comment-meta .comment-extra {
	display: inline-block;
}

.blog-comments .blog-comment-content .media-list li {
	padding: 15px;
}

.blog-comments .blog-comment-content .media-list li:nth-child(2n+1) {
	background: #eceff1;
}

.blog-comments .blog-comment-content .media-body .media-heading a {
	color: #232a2f;
	padding-bottom: 1px;
	border-bottom: 1px dotted #85939b;
}

/* ====== Sidebar Widgets ====== */
.sidebar .widget {
	margin-bottom: 30px;
}

.sidebar .widget ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.sidebar .widget ul li,
.sidebar .widget ul li a {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #85939b;
}

.sidebar .widget ul li a:hover {
	color: #9B59B6;
}

.sidebar .widget ul li {
	margin-bottom: 7px;
}

.sidebar .widget .search-widget input[type='text'] {
	height: 45px;
	border-radius: 0;
	background: #fff;
	border: none;
	padding: 8px 12px;
	box-shadow: none;
}

.sidebar .widget .categories-widget ul li {
	float: left;
	padding: 5px 10px;
	border: 1px solid;
	margin-right: 5px;
}

.sidebar .widget .search-widget .btn {
	height: 45px;
	border-radius: 0;
	background: #e5e8eb;
	border: none;
	color: #f7f8f9;
	box-shadow: none;
	font-size: 20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.sidebar .widget .search-widget .btn:hover {
	color: #FFF;
}

.sidebar .widget .recent-post-widget ul li a {
	font-size: 17px;
}

.widget .widget-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	/*color: #FFF;*/
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 0;
}

.widget .widget-title a {
	color: inherit;
}

.widget .widget-title a:hover {
	color: #DDAD02;
}

/* Responsive CSS */
@media only screen and (max-width: 871px) {
	.post .post-title {
		position: relative;
		right: inherit;
		top: inherit;
		background: transparent;
		padding: 0;
	}

	.post .post-title h1 {
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.blog-comments .blog-comment-content .comment-meta .media-heading,
	.blog-comments .blog-comment-content .comment-meta .in-reply,
	.blog-comments .blog-comment-content .comment-meta span.time {
		display: block;
		padding-left: 0;
		margin: 8px 0;
	}

	.blog-comments .blog-comment-content .comment-meta .comment-extra {
		float: none !important;
		margin-bottom: 20px;
	}

	.media figure.pull-left {
		float: none !important;
		padding-bottom: 20px;
	}

	#primary {
		padding-right: 0;
		margin-right: 0;
		border-right: 0;
	}

	#menu {
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 99999;
	}

	.sidebar {
		padding-left: 15px;
	}

	#menu .navbar {
		padding-top: 20px;
	}

	#menu .navbar-brand {
		padding-bottom: 0;
	}

	#container {
		margin-left: 0;
	}

	.home .slide-text {
		left: 0;
	}

	.home .slides-navigation {
		bottom: 0%;
		height: 40px;
		top: inherit;
	}

	.home .slide-text h2 {
		font-size: 35px;
		line-height: 45px;
	}

	.home .slide-text span {
		font-size: 18px;
		line-height: 27px;
	}

	.services .services-icon {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background: #DDAD02;
		text-align: center;
		font-size: 30px;
		color: #FFF;
		margin: 10px 0 20px;
		position: relative;
		line-height: 70px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
	.media figure.pull-left {
		float: none !important;
		padding-bottom: 20px;
	}

	#primary {
		padding-right: 0;
		margin-right: 0;
		border-right: 0;
	}

	#menu {
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 99999;
	}

	.sidebar {
		padding-left: 15px;
	}

	#menu .navbar {
		padding-top: 20px;
	}

	#menu .navbar-brand {
		padding-bottom: 0;
	}

	#container {
		margin-left: 0;
	}

	.home .slide-text {
		left: 0;
	}

	.home .slides-navigation {
		bottom: 0%;
		height: 40px;
		top: inherit;
	}

	.home .slide-text h2 {
		font-size: 35px;
		line-height: 45px;
	}

	.home .slide-text span {
		font-size: 18px;
		line-height: 27px;
	}

	.services .services-icon {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background: #DDAD02;
		text-align: center;
		font-size: 30px;
		color: #FFF;
		margin: 10px 0 20px;
		position: relative;
		line-height: 70px;
	}

	#menu .navbar-nav a,
	#menu .navbar-nav li {
		float: none;
	}
}

@media only screen and (min-width: 871px) and (max-width: 991px) {

	#menu .navbar-nav a,
	#menu .navbar-nav li {
		float: left;
	}

	#menu .navbar-header {
		float: left;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	#menu .navbar-header,
	#menu .navbar-nav,
	#menu .navbar-nav li {
		float: none;
	}
}

@media only screen and (min-width: 1200px) {

	#menu .navbar-header,
	#menu .navbar-nav,
	#menu .navbar-nav li {
		float: none;
	}
}

/*  Bootstrap Components  */

/*
    ACCORDION
*/
.panel-group .panel {
	margin-bottom: 5px;
}

.panel-group p {
	font-size: 16px;
}

.panel-group .panel {
	border: 0;
	border-radius: 0;
	margin-top: 0 !important;
}

.panel-heading {
	border-radius: 0;
	border-top: 1px solid transparent;
	padding: 0;
}

.panel-default>.panel-heading {
	color: #1A1E22;
	background-color: #e5e8eb;
	border-color: transparent;
}

.panel-title {
	font-size: 16px;
	color: inherit;
	font-weight: 700;
	display: block;
}

.panel-title a {
	display: block;
	padding: 20px;
	text-decoration: none;
}

.panel-title a:hover {
	color: #FFF;
}

.panel-body {
	background: #c1c8cf;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
	border-top: 0;
}

/*
    NAV TABS
*/
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	background: #c1c8cf;
	color: #e5e8eb;
	border-radius: 0;
	webkit-border-radius: 0;
	border-top: 0;
	border-left: none;
	border-bottom: 0;
	border-right: 0;
}

.nav-tabs {
	border-bottom: 0;
	overflow: hidden;
}

@media screen and (max-width: 440px) {
	.nav-tabs li {
		width: 30%;
	}
}

.nav-tabs>li>a {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: inherit;
	background: #e5e8eb;
	font-weight: 700;
	border-left: none;
	margin: 0;
	margin-right: 5px;
	padding: 15px 20px;
	border-radius: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav-tabs>li.active:first-child>a:hover {
	border-left: 0;
	border-bottom: 0;
}

.nav-tabs>li>a {
	border-bottom: 1px solid #CCC;
	border: 0;
	color: #1A1E22;
}

.nav-tabs>li>a:hover {
	color: #FFF;
	background: #3a3e45;
	border-top: 0;
	border-right: 0;
	border-left: none;
	border: 0;
}

.nav-tabs>li:first-child>a {
	border-left: 0;
}

.tab-content {
	background: #c1c8cf;
	padding: 15px;
	border: 0;
}

/*
    ALERTS
*/
.alert {
	border-radius: 0;
	padding: 20px;
	margin-bottom: 10px;
	border: none;
	color: #FFF;
	font-size: 16px;
}

.alert-dismissable .close {
	right: -21px;
	top: -21px;
	width: 31px;
	height: 31px;
	background: #1A1E22;
	color: inherit;
	opacity: 1;
	text-shadow: none;
}

.alert-warning {
	background: #deb14d;
}

.alert-success {
	background: #70bc70;
}

.alert-info {
	background: #52adda;
}

.alert-danger {
	background: #c46868;
}

/*
    TOOLTIP
*/
.tooltip {
	font-size: 14px;
}

.tooltip-inner {
	padding: 15px 15px;
	border-radius: 0;
	background: #1A1E22;
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #1A1E22;
	border-width: 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #1A1E22;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #1A1E22;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #1A1E22;
}

/*
    LABEL
*/
.label {
	padding: 5px 8px;
	border-radius: 0;
}

.label-warning {
	background: #deb14d;
}

.label-info {
	background: #52adda;
}

.label-success {
	background: #70bc70;
}

.label-danger {
	background: #c46868;
}

/*
    PROGRESS BAR
*/
.progress {
	height: 25px;
	border-radius: 0;
	background: rgba(0, 0, 0, 0.07);
	box-shadow: none;
}

.progress-bar {
	padding: 20px;
}

/*
    PANEL
*/
.panel {
	border-radius: 0;
}

.panel .panel-heading {
	border-radius: 0;
}

.panel .panel-heading h3 {
	padding: 10px;
}

/*
    TABLE
*/
.table.table-bordered {
	background: #F4F4F4;
}

/*
    FORM
*/

form .form-group {
	margin-bottom: 2px;
	margin-bottom: 15px;
}

form .form-group label {
	margin-bottom: 10px;
	font-weight: 400;
}

form .form-control,
form textarea {
	border-radius: 0;
	background: rgba(0, 0, 0, .07);
	color: #85939b;
	border: none;
	border-left: 1px solid #DDAD02;
	box-shadow: none;
}

form input.form-control {
	height: 45px;
}

form .form-control:focus,
form textarea:focus {
	box-shadow: none;
	border: 1px solid #DDAD02;
}

/*
    BUTTON
*/
.btn {
	border-radius: 0;
	padding: 8px 13px;
	margin-right: 5px;
	outline: 0;
	font-weight: 700;
	height: 45px;
	border: 1px solid;
}

.btn:hover {
	color: #9B59B6;
	border-color: #9B59B6;
}

.blog-btn {
	height: auto;
}

/*
    WELL
*/
.well {
	border-radius: 0;
	background: rgba(0, 0, 0, 0.07);
	border: 1px solid #85939b;
}

/*
    PAGINATION
*/
.pagination {
	margin: 40px 0 10px;
	display: inline-block;
}

.pagination li {
	display: inline-block;
}

.pagination li a {
	width: 55px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #85939b;
	height: 55px;
	margin-right: 10px;
	margin-bottom: 8px;
	border-radius: 50%;
	background: #eceff1;
	border: none;
	text-align: center;
	line-height: 55px;
	display: block;
	padding: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.pagination li:hover a {
	background: #DDAD02;
	color: #FFF;
}

.pagination li.active a:hover {
	pointer-event: none;
	transform: none;
	-ms-transform: none;
	/* IE 9 */
	-webkit-transform: none;
	/* Safari and Chrome */
	-o-transform: none;
	/* Opera */
	-moz-transform: none;
}

.pagination li.active a {
	color: #FFF;
	background: #DDAD02;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span {
	border-radius: 50%;
}

/*
    ICON
*/
.bs-glyphicons {
	margin: 0 -19px 20px -16px;
	overflow: hidden;
}

.bs-glyphicons-list {
	padding-left: 0;
	list-style: none;
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

.bs-glyphicons li {
	float: left;
	width: 25%;
	height: 115px;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	border: 1px solid #fff;
	background-color: #f9f9f9;
}

/* BRIEF Button */
.brief-btn {
    vertical-align: top;
    margin: 12px;
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.brief {
	transition: 0.5s;
	background-size: 200% auto;
}

.brief:hover {
	background-position: right center;
}

.brief-1 {
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.brief-2 {
	background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.brief-3 {
	background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.brief-4 {
	background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.brief-5 {
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}

/* Select Background Color */
::selection {
	background: #4285F4;
	color: #FFFFFF;
}

::-moz-selection {
	background: #4285F4;
	color: #FFFFFF;
}

::-webkit-selection {
	background: #4285F4;
	color: #FFFFFF;
}