a {
	color: #90C1CA;
}
#menu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #90C1CA;
}
.footer-toogle .hover i {
	color: #90C1CA;
}
.totop:hover span>a.hover {
	color: #90C1CA;
}
.social-icon li:hover a {
	background: #90C1CA;
}
.home .slides-navigation a:hover {
	color: #90C1CA;
}
.services .services-icon {
	background: #90C1CA;
}
.testimonial .icon-testimonial {
	color: #90C1CA;
}
.call-ta h2 {
	border-left: 3px solid #90C1CA;
}
.contact form input, .contact form textarea {
	border-left: 1px solid #90C1CA;
}
.contact form input:focus, .contact form textarea:focus {
	border: 1px solid #90C1CA;
}
#primary .pagination li:hover a {
	background: #90C1CA;
}
#primary .pagination li.active a {
	background: #90C1CA;
}
.post .post-meta span a:hover {
	color: #90C1CA;
}
.blog-comments form input, .blog-comments form textarea {
	border-left: 1px solid #90C1CA;
}
.blog-comments form input:focus, .blog-comments form textarea:focus {
	border: 1px solid #90C1CA;
}
.widgetbar .widget ul li a:hover {
	color: #90C1CA;
}
.widget .widget-title a:hover {
	color: #90C1CA;
}
form .form-control, form textarea {
	border-left: 1px solid #90C1CA;
}
form .form-control:focus, form textarea:focus {
	border: 1px solid #90C1CA;
}
.btn-link:hover {
	color: #90C1CA;
}
.pagination li:hover a {
	background: #90C1CA;
	color: #FFF;
}
.pagination li.active a {
	background: #90C1CA;
}
.service .icon-holder {
	color: #90C1CA;
}
.portfolioFilter li.active {
	background: #90C1CA;
	border: 1px solid #90C1CA;
}
.service:hover {
	border-color: #90C1CA;
}
.client-photo.active {
	border: 1px solid #90C1CA;
}
.to-top-btn:hover {
	color: #90C1CA;
}
.sidebar .widget ul li a:hover {
	color: #90C1CA;
}
.btn:hover {
	color: #90C1CA;
	border-color: #90C1CA;
}
